{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>{{nombre}}</h1>
        <p>{{desc}}</p>
    </div>
    <div class="col-4">
        <img src="assets/img/RedBird.png" class="img-thumbnail" alt="RedBird">
    </div>
</div>    

{{> footer }}